
.header {  
    height: 200px; 
    background-image: url('./images/reg.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative; 
  
}






 

